@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  line-height: 1.7;
  font-family: sans-serif;
  color: #212529;

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: color 0.5s;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

section {
  display: block;
  unicode-bidi: isolate;
  padding: 70px 0;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.main-heading h2 {
  font-weight: 600;
  position: relative;
  font-size: 40px;
  margin: 20px 0 15px;
  color: #212529;
}

.layer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/*Header*/
header {
  display: block;
  unicode-bidi: isolate;
  background: url(/imgs/imgi_2_slideshow-1.jpg) center center/cover no-repeat;
  height: 100vh;
  position: relative;

}

/*nav bar*/
nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: 70px;
  transition: background-color 1s;
}

nav:hover {
  background: #666
}


nav .container {
  width: 90%;
  margin: auto;
  padding: 10px 20px;
}

nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

nav .nav-content .nav-links {
  display: flex;
  gap: 25px;
  font-weight: 400;

}

.nav-links a {
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.nav-links a:hover {
  color: #f25454;
}

nav .nav-content .social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  color: white;
}

.social-icons a:hover {
  color: #f25454;
}

.links-icons {
  display: flex;
  align-items: end;
  gap: 100px;
}

/**main-section**/
.main-section {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 5;
}

.main-section h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
}

/*about*/
#about .main-heading {
  width: 60%;
  display: inline-block;
}

#about .main-heading p {
  font-size: 20px;
  color: #999;
}

#about .container h2::before {
  position: absolute;
  content: "A";
  font: bold;
  font-size: 74px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.06;

}

#about .container h2::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: width 1s;
}

#about .container h2:hover::after {
  width: 90px;
}

#about .container .about-content {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 40px;
  align-items: flex-start;

}

#about .about-content .info {
  width: 50%;
  text-align: justify;

}

#about .about-content .info p {
  color: #999;
  font-size: 16px;
  padding-bottom: 16px;
  margin-top: 0;
}

#about .skills {
  width: 50%;
}

.skill {
  margin-bottom: 25px;
}

.skill-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: 600;
}

.skill-title span {
  color: #b0b0b0;
  font-weight: 400;

}

.bar {
  height: 4px;
  background: #eee;
  margin-top: 8px;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #f25454;
}

.b1 {
  width: 80%;
}

.b2 {
  width: 95%;
}

.b3 {
  width: 85%;
}

.b4 {
  width: 70%;
}



/*team*/
#team .container h2::before {
  position: absolute;
  content: "O";
  font-size: 74px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.06;

}

#team .container h2::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: width 1s;
}

#team .container h2:hover::after {
  width: 90px;
}

#team .container p {
  width: 60%;
  margin: 0 auto 50px;
  font-size: 20px;
  line-height: 1.7;
  color: #999;
}

#team .cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 20px;
}

#team .card {
  flex: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-image {
  border-radius: 3px;
  transition: transform 0.5s;
  overflow: hidden;
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}

.card-image .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(20px);
  opacity: 0;
  z-index: 2;
  transition: .4s;
}

.card-image .icon a {
  color: white;
}

.card-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(242, 84, 84, 0.8);
  opacity: 0;
  transition: .4s;
  z-index: 1;
}

.card:hover .card-image::before {
  opacity: 1;
}

.card:hover .icon {
  opacity: 1;
  transform: translate(-50%, -50%) translateY(0);
}

.card:hover img {
  transform: scale(1.1);
}

#team .info {
  padding: 30px;
}

#team .info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

#team .info span {
  font-size: 14px;
  color: #777;
  letter-spacing: 0.5px;

}

/*contact-box*/
#contact-box .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 70%;
}

#contact-box .container .main-content h3 {
  font-size: 35px;
  font-weight: 300;
}

#contact-box .button {
  background-color: #f25454;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

#contact-box .button a {
  text-align: center;
  color: white;
}

#contact-box .button:hover {
  opacity: 0.5;
}

/*services*/
#services {
  background-color: #fafafa;
}

#services .container {
  width: 85%;
  margin: auto;

}

#services .container .main-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

#services .container .main-heading p {
  color: #999;
  font-weight: 400;
  font-size: 20px;
}

#services .container h2::before {
  position: absolute;
  content: "S";
  font: bold;
  font-size: 74px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.06;

}

#services .container h2::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: width 1s;
}

#services .container h2:hover::after {
  width: 90px;
}

#services .services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 40px;

}

#services .service-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

#services .service-box i {
  font-size: 35px;
  color: #f25454;
}

#services .service-box h3 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  text-align: start;

}

#services .service-box p {
  text-align: justify;

  color: #939393;

}

/*client*/
#client .main-heading p {
  width: 60%;
  margin: auto;
  color: #939393;
  line-height: 1.7;
  font-size: 20px;
}

#client .container h2::before {
  position: absolute;
  content: "C";
  font: bold;
  font-size: 74px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.06;

}

#client .container h2::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: width 1s;
}

.client-card {
  margin-top: 50px;
}

.card-img {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.card-img img {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.4;
  transition: 0.3s;
  cursor: pointer;
}

.card-img img:first-child {
  opacity: 1;
  border: 3px solid #f25454;
  padding: 3px;
}

.card-img img:hover {
  opacity: 1;
}

.card-info h3 {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;
}

.card-info span {
  color: #939393;
  font-size: 16px;
}

.quote {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.quote p {
  position: relative;
  width: 60%;
  color: #666;
  font-weight: 400;
  font-size: 20px;
}

.quote p::before {
  content: "“";
  position: absolute;
  left: -25px;
  top: -45px;
  font-size: 100px;
  color: #666;
}

.quote p::after {
  content: "”";
  position: absolute;
  right: 200px;
  bottom: -90px;
  font-size: 100px;
  color: #666;
}

/*contact*/
#contact {
  background-color: #fafafa;

}

#contact .container h2::before {
  position: absolute;
  content: "G";
  font-size: 74px;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.06;

}

#contact .container h2::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: black;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: width 1s;
}

#contact .container h2:hover::after {
  width: 90px;
}

#contact .container .main-heading p {
  width: 70%;
  margin: auto;
  color: #939393;
  line-height: 1.7;
  font-size: 20px;
  padding-bottom: 30px;
}

#contact .contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: flex-start;

}

#contact .contact-info .info-details {
  display: block;

}

#contact .contact-info .info-details .heading h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: start;
  letter-spacing: -1px;
}

#contact .cards>div {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#contact .cards .icon {
  color: #f25454;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 42px;
  margin-right: 20px;
}

.cards .text h4 {
  font-size: 20px;
  text-align: start;
}

.cards .text p {
  color: #777;
  font-size: 14px;
}

.cards .text a {
  text-decoration: none;
  color: #777;
}

.send-form {
  padding-top: 20px;
}

/* Right Side Form */
.send-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

}

.send-form input,
.send-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.send-form input:focus,
.send-form textarea:focus {
  border-color: #ff6b6b;
}

.send-form textarea {
  height: 140px;
  resize: none;
}

#btnSubmit {
  width: fit-content;
  padding: 12px 25px;
  background: #ff6b6b;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

#btnSubmit:hover {
  background: #ff4c4c;
}


/*footer*/
footer {
  position: relative;
  background: #222;
  background-image: url(/imgs/imgi_16_dotted-map.png);
  background-size: contain;
  background-position: center center;
}

footer .logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 25px;
}

footer .footer-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

footer .foot {
  width: 25%;
  text-align: start;
  color: white;
}

footer .foot h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

footer p,
footer a {
  font-size: 16px;
  color: #b0b0b0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 8px;
}

.foot .text-box a {
  display: inline-block;
  border: 1px solid #777;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;
}

.foot .text-box a:hover {
  background: #f25454;
  border-color: #f25454;
  color: white;
}

.footer-copyright {
  background: #1a1a1a;

}

footer .footer-copyright .links {
  border-color: #a6a6a6;
  font-size: 40px;
}

footer .footer-copyright .links a {
  margin-right: 15px;

}

.footer-copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-copyright a {
  color: white;
}

.footer-copyright p {
  color: #b0b0b0;
}

@media (max-width: 768px) {

  .container {
    width: 95%;
  }

  /* nav */
  .nav-content .links-icons {
    opacity: 0;
  }

  .main-section h1 {
    font-size: 30px;
  }

  /* ABOUT */
  #about .about-content {
    flex-direction: column !important;

  }

  #about .about-content .info {
    flex: 1;
    justify-content: center;
  }

  #about .about-content .skills {
    flex: 1;
  }

  #about .info,
  #about .skills {
    width: 100%;
  }

  #about .about-content .info p {
    font-size: 16px;
    line-height: 1.6;
    width: max-content;

  }

  .skill-title {
    font-size: 14px;
  }

  /* TEAM */
  #team .cards {
    flex-direction: column;
  }

  #team .card {
    width: 100%;
  }

  #team .card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* CONTACT  BOX*/
  #contact-box .main-content h3 {
    font-size: 25px !important;
    margin-bottom: 20px !important;
    text-align: center;
  }

  #contact-box .button {
    margin: auto !important;
    display: block !important;
    width: fit-content;
  }

  /* SERVICES */
  #services .services-grid {
    grid-template-columns: 1fr;
  }

  /* CONTACT */
  #contact .contact-info {
    grid-template-columns: 1fr;
  }

  /* FOOTER */
  footer .footer-info {
    flex-direction: column;
  }

  footer .foot {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .footer-copyright .container {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {

  #services .services-grid {
    grid-template-columns: repeat(1fr);
  }

  #team .cards {
    flex-wrap: wrap;
  }

  #team .card {
    flex: 0 0 48%;
  }
}